<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/stylesheet.css">
  </head>

  <body>
    <% if (shoes) { %>
      <% for(var i = 0; i <= shoes.length - 1; i++) { %>
        <% if (shoes[i].size == 43) { %>
          <p>
            <%= shoes[i].model %>
            <%= shoes[i].color %>
            <%= shoes[i].size %>
          </p>
        <% } %>
      <% } %>

    <% } else { %>
      Nulla
    <% } %>
  </body>
</html>
